:root {
  --brand-color: #2196f3;
  --background-color-gray_dark: #2f303a;
  --background-color-gray_light: #f5f4fa;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-color: #eeeeee;
  --button-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  color: var(--text-color-black);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
}

.main {
  margin: 0;
  padding: 0;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
}

.logo_fword {
  color: var(--brand-color);
}

.nav__list {
  list-style-type: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--brand-color);
}

.contacts {
  list-style-type: none;
  padding: 0;
}

.contacts_item {
  color: var(--text-color-grey);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.section {
  /*padding-left: 200px;*/
  /*padding-right: 200px;*/
  padding: 94px 200px;
  margin: 0;
}

.section-h1 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section--bottom-p-zero {
  padding-bottom: 0;
}

.section--dark {
  background-color: var(--background-color-gray_dark);
}

.section--gray-light {
  background-color: var(--background-color-gray_light);
}

.section__title {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.section__title-bigger {
  max-width: 700px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;

  background: var(--background-color-gray_light);
  border-radius: 4px;
  box-shadow: var(--button-hover-shadow);
  border: none;
}

.button:hover {
  background: var(--brand-color);
  color: #fff;
}

.button--blue {
  background-color: var(--brand-color);
  color: #fff;
}

.button--blue:hover {
  background-color: var(--background-color-gray_light);
  color: var(--text-color-black);
}

.advantages {
  list-style-type: none;
  padding: 0;
}

.advantages__item {
  max-width: 270px;
}

.advantages__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

.doings {
  list-style-type: none;
  padding: 0;
}

.doings__item {
}

.doings__img {
  width: 370px;
  height: 294px;
}

.team {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team__item {
  display: inline-block;

  box-shadow: var(--box-shadow);
  border-radius: 0 0 4px 4px;
}

.team_img {
  width: 270px;
  height: 260px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team_desc {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

.footer {
  padding: 60px 215px;
  background-color: var(--background-color-gray_dark);
}

.address {
}
.address__list {
  list-style-type: none;
  padding: 0;
}
.address__item:not(last-child){
  margin-bottom: 9px;
}
.address__contact {
  text-decoration: none;
  color: var(--text-color-grey);
}
.address__contact--white {
  color: #fff;
}
